@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --light-blue: #fafafa;
  --dark-blue: #cad2db;

  --color-white: #ffffff;
  --color-grey-dark: #1e1e1e;
}

* {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important;
}

body {
  background-color: var(--color-white) !important;
  position: relative !important;
  width: 100vw !important;
  height: 100vh !important;
}

.homelogo {
  width: 6rem;
  position: absolute;
  left: 2.1rem;
  top: -6.7rem;
}

.sc-gtsrHT.sc-kLojOw.cRXrDg.jDXLmf {
  color: var(--color-grey-dark) !important;
}
.sc-gtsrHT.fJpWgJ {
  color: var(--color-grey-dark) !important;
}

.dUSdIO,
.blvlYN {
  color: var(--color-grey-dark) !important;
}

.blvlYN::placeholder {
  color: var(--color-grey-dark) !important;
}

.sc-hndLF .khxycs {
  color: var(--color-grey-dark) !important;
}

/*Background*/
.sc-fnebDD > .gxDMNu {
}

.gxDMNu {
  padding: 0 !important;
  height: 100vh !important;
  background-color: var(--light-blue) !important;
}

.sc-jSFjdj.sc-dSnXvR.sc-JsfZP.kJmatq.hFfTCM.kDXoGh:hover {
  background: none !important;
}

/*Button*/
.sc-hKFxyN.hGBsPT {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 30rem;
  font-family: "Open Sans", sans-serif !important;
  border: none;
  cursor: pointer;
  background-color: #1d8cf8 !important;
}

.sc-hKFxyN.hGBsPT {
  background-color: var(--light-blue) !important;
  opacity: 1 !important;
  box-shadow: none;
  color: var(--color-grey-dark) !important;
  border: 1px solid var(--dark-blue);
  border-radius: 15px;
}

.sc-hKFxyN.hGBsPT:hover {
  background-color: var(--light-blue) !important;
  opacity: 1 !important;
}

.sc-hKFxyN.hGBsPT:disabled {
  background-color: var(--light-blue) !important;
  opacity: 1 !important;
  box-shadow: none;
  color: var(--color-grey-dark);
  border: 1px solid var(--dark-blue);
  border-radius: 15px;
  opacity: 0.5 !important;
}

.laEKMw {
  color: var(--color-grey-dark) !important;
}

/*Container*/
.dnEMxE {
  background: var(--color-white) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  padding: 0 0 20px !important;
}

.TbFrM {
  border-radius: 0 !important;
}

.sc-dkiSSI.ibkFXD {
  background: var(--color-white) !important;
}

.ibkFXD {
  padding: 20px 0 !important;
}

.ihPrpr {
  background: var(--color-white) !important;
  border: 1px solid var(--dark-blue) !important;
  box-shadow: none !important;
}

.hiwdBw {
  border-radius: 30px !important;
  border: none !important;
  padding: 30px !important;
  background: var(--color-white) !important;

  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.sc-bdnxRM.iGEvSN {
  width: 1.5rem !important;
}

.cRXrDg {
  font-weight: 600 !important;
  color: #f7f7f7 !important;
}

.lbooPM {
  color: #f7f7f7 !important;
}

.fJpWgJ {
  color: #f7f7f7 !important;
}

.gxDMNu {
  background: var(--light-blue) !important;
  height: 100vh !important;
}

.sc-bdnxRM.eNPaSS {
  fill: var(--color-grey-dark) !important;
  opacity: 1 !important;
}

/*Connect Wallet*/
.dcXLwU {
  background: var(--color-white) !important;
  border-bottom: 1px solid var(--dark-blue) !important;
}

.jbmosv {
  border-bottom: 1px solid var(--dark-blue) !important;
}

.ixRDSW {
  background: #27293d !important;
}

.jDXLmf {
  color: var(--color-grey-dark) !important;
}

.sc-bdnxRM.ACFFk {
  fill: var(--color-grey-dark) !important;
}

.sc-gtsrHT.dIkicJ {
  color: var(--color-grey-dark);
}

.sc-hKFxyN.dIIroh {
  background-color: var(--light-blue) !important;
  color: var(--color-grey-dark);
  border: 1px solid var(--dark-blue);
  border-radius: 15px !important;
  box-shadow: none;
}

.sc-hKFxyN.dIIroh:hover {
  background-color: rgba(247, 247, 247, 0.8) !important;
  opacity: 1 !important;
}

/*Select*/

.gUXabd {
  background: var(--color-white) !important;
  border-bottom: 1px solid var(--dark-blue) !important;
}

.ixRDSW {
  background: #27293d !important;
}

.sc-jSFjdj.sc-dSnXvR.kJmatq.llKTfd:hover {
  background: none !important;
}

.sc-iqAclL.gymbJT {
  background: var(--color-white) !important;
  border: 1px solid var(--dark-blue) !important;
  box-shadow: none !important;
  color: var(--color-grey-dark) !important;
}
.sc-iqAclL.gymbJT::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5) !important;
}
.sc-iqAclL.gymbJT::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5) !important;
}
.sc-iqAclL.gymbJT:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.5) !important;
}
.sc-iqAclL.gymbJT:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5) !important;
}

.hGxdAo {
  color: var(--color-grey-dark) !important;
}

.sc-jSFjdj.sc-dSnXvR.sc-gGGFjW.cLIAJn.llKTfd.jNWwl:hover {
  background: none !important;
}

.gymbJT {
  border: none !important;
  border-radius: 30px !important;
}

.sc-hKFxyN .krelFov {
  background: #1d8cf8 !important;
}

.isGPfm {
  background-color: var(--light-blue) !important;
  border: 1px solid var(--dark-blue) !important;
  color: var(--color-grey-dark);
  padding: 0.5rem 0 !important;
  border-radius: 15px !important;
}

.fiMYsI {
  color: var(--color-grey-dark) !important;
}

.fiMYsI:hover {
  opacity: 1 !important;
}

.hmxDlj {
  color: var(--color-grey-dark) !important;
}
.iGEvSN {
  fill: var(--color-grey-dark) !important;
}

.sc-dSnXvR:hover {
  background-color: rgba(30, 30, 46, 0.5) !important;
}

/*Manage*/
.eYccgo {
  background-color: #1e1e2e !important;
}

.lqGNY {
  background-color: var(--color-grey-dark) !important;
  box-shadow: none !important;
}

.fDkSlj {
  background-color: var(--color-white) !important;
}

.kZRsVp {
  background-color: var(--color-grey-dark) !important;
}

.sc-iqAclL.gymbJT:focus {
  box-shadow: none !important;
}

.sc-iqAclL:hover {
  background-color: none !important;
}

.dsTsMh {
  border: 1px solid var(--dark-blue) !important;
  background-color: var(--light-blue) !important;
}

.dsTsMh:hover {
  border: 1px solid var(--dark-blue) !important;
  background-color: var(--light-blue) !important;
}

.InOm {
  background-color: var(--dark-blue) !important;
  opacity: 1 !important;
}

.fuLA-dB:hover + .sc-eGJWMs:not(:disabled):not(:checked) {
  box-shadow: none !important;
}

.sc-bdnxRM.iGEvSN {
  cursor: pointer !important;
}

.gnPdGE {
  background-color: var(--light-blue) !important;
  border: 1px solid var(--dark-blue) !important;
}

.dpHAro {
  fill: var(--color-grey-dark) !important;
}

.RVVfa {
  background-color: #1e1e2e !important;
}

.cqAhDd {
  background-color: var(--color-grey-dark) !important;
  color: var(--color-white) !important;
}

.jdkCTn {
  border: 1px solid var(--dark-blue) !important;
  background-color: var(--light-blue) !important;
}

.jdkCTn:hover {
  border: 1px solid var(--dark-blue) !important;
  background-color: var(--light-blue) !important;
}

.kdpiTO {
  color: var(--color-grey-dark) !important;
}

.PgvXg {
  background-color: var(--dark-blue) !important;
  box-shadow: none !important;
  color: var(--color-grey-dark) !important;
}

.PgvXg:hover {
  background-color: var(--dark-blue) !important;
  opacity: 1 !important;
}

.iiWEXc {
  color: var(--color-grey-dark) !important;
}

.iXahuZ {
  fill: var(--color-grey-dark) !important;
}

.fuLA-dB:focus + .sc-eGJWMs {
  box-shadow: none !important;
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
  box-shadow: none !important;
  background: var(--light-blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue) !important;
  border-radius: 0 !important;
  outline: none;
}

.kDqSxX {
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0 !important;
}

.ixRDSW {
  border: none !important;
}

/*Settings*/
.kDmqNo {
  background: var(--color-white) !important;
  border-bottom: 1px solid var(--dark-blue) !important;
}

.loBjTJ {
  border-top: 1px solid var(--dark-blue) !important;
}

.ixRDSW {
  background: var(--color-white) !important;
  border: none !important;
}

.lyjZ {
  color: var(--color-grey-dark) !important;
}

.hVyKsn {
  background-color: var(--light-blue) !important;
  box-shadow: none !important;
  color: var(--color-grey-dark) !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.hVyKsn:hover {
  opacity: 1 !important;
}

.klJXQp {
  background-color: var(--color-white) !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  color: var(--color-grey-dark) !important;
}
.klJXQp:hover {
  opacity: 1 !important;
}

.bUBbVl {
  background-color: var(--color-white) !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  color: var(--color-grey-dark) !important;
}

.bUBbVl:hover {
  opacity: 1 !important;
}

.hYsVHb {
  color: var(--color-grey-dark) !important;
}

.jwrwLs {
  color: var(--color-grey-dark) !important;
  font-size: 12px;
}

.bERgGu {
  box-shadow: none !important;
  background-color: var(--color-grey-dark) !important;
  border: none !important;
  color: var(--color-white);
}

.bERgGu::placeholder {
  color: rgba(247, 247, 247, 0.5);
}

.sc-eGJWMs.dAAUwn {
  box-shadow: none !important;
  background-color: var(--color-white) !important;
}

.kiWEyq .pancake:nth-child(1) {
  background-color: var(--color-white) !important;
  box-shadow: none !important;
}

.gtITZS {
  background-color: var(--color-grey-dark) !important;
}

.kpkVca {
  background-color: var(--color-grey-dark) !important;
}

.jBScMC:focus + label {
  box-shadow: none !important;
}

.kiWEyq .pancake {
  left: 3px !important;
  top: 3px !important;
  width: 26px !important;
  height: 26px !important;
}

.gJEBAN {
  background-color: var(--light-blue) !important;
  border: 1px solid var(--dark-blue) !important;
  border-radius: 15px !important;
  color: var(--color-grey-dark) !important;
  box-shadow: none !important;
}

.gJEBAN:hover {
  background-color: var(--light-blue) !important;
  border: 1px solid var(--dark-blue) !important;
  border-radius: 15px !important;
  color: var(--color-grey-dark) !important;
  box-shadow: none !important;
  opacity: 1 !important;
}

.lkdPtA {
  color: var(--color-grey-dark) !important;
}

.dAnGxi {
  border: 1px solid var(--dark-blue) !important;
  border-radius: 15px !important;
  color: var(--color-grey-dark) !important;
  background: var(--color-white) !important;
  opacity: 1 !important;
}

.dAnGxi:hover {
  border: 1px solid var(--dark-blue) !important;
  border-radius: 15px !important;
  color: var(--color-grey-dark) !important;
  background: var(--color-white) !important;
  opacity: 1 !important;
}

.ejtvnj {
  box-shadow: none !important;
  background-color: var(--color-white) !important;
  border: 1px solid var(--color-grey-dark) !important;
  border-radius: 0 !important;
  height: 20px !important;
  width: 20px !important;
}

.ejtvnj:checked::after {
  border-color: var(--color-grey-dark) !important;
}

.fLcvSo {
  font-size: 14px !important;
  color: var(--color-grey-dark) !important;
}

.ejtvnj:checked {
  background-color: var(--light-blue) !important;
}

.hURyuW {
  border-radius: 5px !important;
  border: 1px solid #f2cf66 !important;
}

.sc-bdnxRM.fRwzTT {
  fill: #f2cf66 !important;
}

.cScmQT {
  background-color: var(--light-blue) !important;
  box-shadow: none !important;
  color: var(--color-grey-dark) !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.cScmQT:hover {
  opacity: 1 !important;
}

.dFFjvI {
  box-shadow: none !important;
}

.pancake:nth-child(3) {
  display: none;
}
.pancake:nth-child(2) {
  display: none;
}

.pancake:nth-child(1) {
  background-color: var(--color-white) !important;
  border: none !important;
  box-shadow: none !important;
  animation: none !important;
}

.kiWEyq .butter {
  display: none;
}

.pancake:nth-child(1)::after {
  display: none !important;
}

.iRaesw:hover {
  background: none !important;
}

.jKRLxB {
  color: var(--color-grey-dark) !important;
}

.cHwlTP {
  color: rgba(0, 0, 0, 0.5) !important;
}

.bLSbQi {
  color: var(--color-grey-dark) !important;
  font-size: 14px !important;
}

.ixVPjD {
  color: var(--color-grey-dark) !important;
}

.ixRDWR {
  background-color: var(--color-white) !important;
}

.kYekNj {
  color: var(--color-grey-dark) !important;
  font-size: 14px !important;
}

.cqOgdw:disabled,
.cqOgdw.pancake-button--disabled {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-color: rgb(60, 55, 66);
  box-shadow: none !important;
  border-radius: 5px !important;
  color: var(--color-white) !important;
  cursor: not-allowed;
}

.cqOgdw {
  background-color: var(--color-grey-dark) !important;
  border-color: none !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  color: var(--color-white) !important;
}

.cqOgdw:hover {
  opacity: 1 !important;
}

/* button#swap-button.sc-hKFxyN.hGBsPT.pancake-button--disabled {
  color: var(--color-grey-dark) !important;
} */

.gUWLnW {
  background-color: var(--dark-blue) !important;
}

.iGEvSN {
  fill: var(--light-blue) !important;
}

.sc-hKFxyN.hGBsPT:disabled {
  color: var(--color-grey-dark) !important;
}

.gLjHjz {
  background-color: var(--color-grey-dark) !important;
}

.tvNGp {
}

.tvNGp {
  background-color: rgb(218, 42, 42) !important;
}

.hWwIqv {
  color: var(--color-grey-dark) !important;
}

.CEHQi {
  color: var(--color-grey-dark) !important;
}

.bugSdp {
  color: var(--color-grey-dark) !important;
}

.jhYYMe {
  background-color: var(--color-white) !important;
  border: 1px solid var(--dark-blue) !important;
}

.blmKrH {
  color: var(--color-grey-dark) !important;
}

.ixRDSW {
  max-width: 500px !important;
}

.eBXmGZ:disabled,
.eBXmGZ.pancake-button--disabled {
  background-color: var(--light-blue) !important;
  border: 1px solid var(--dark-blue) !important;
  opacity: 0.5 !important;
}

.cqOgdw {
  background-color: var(--color-grey-dark) !important;
}

.idBzVJ {
  background-color: var(--light-blue) !important;
  border: 1px solid var(--dark-blue) !important;
}

.lgmfkn {
  fill: var(--color-grey-dark) !important;
}

.drUOIk {
  fill: var(--color-grey-dark) !important;
}

.eBXmGZ {
  background-color: var(--light-blue) !important;
  border: 1px solid var(--dark-blue) !important;
  box-shadow: none !important;
  color: var(--color-grey-dark) !important;
}

.cEXOKS {
  color: var(--color-grey-dark) !important;
}

.gUPFdu {
  color: var(--color-grey-dark) !important;
}

.fAxnDo {
  color: var(--color-grey-dark) !important;
}

.deAJnN {
  color: var(--color-grey-dark) !important;
}

.biztFP {
  background-color: var(--color-grey-dark) !important;
  color: var(--color-white) !important;
}
